@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Orbitron:900);
@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  background: url(../images/bg.png); /* http://subtlepatterns.com/dark-sharp-edges/ */
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 21px;
}

.scaleContainer {
  margin: 8px auto;
}

.grid {
  width: 1300px;
  margin: 0 auto;
  visibility: hidden;
  border: 10px solid black;
  border-radius: 10px;
}

.panel {
  float: left;
  position: relative;
  width: 108px;
  height: 125px;
  min-height: 125px;
  padding: 10px;
  border: 1px solid #333;
  background-color: #f8f8f8;
  text-align: center;
}

.panel.enhancement {
  background-color: #e8e8e8;
}

.panelName {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #CCC;
}

.width2 {
  width: 238px;
}

.width3 {
  width: 368px;
}

.width4 {
  width: 498px;
}

.width6 {
  width: 758px;
}

.height2 {
  height: 272px;
}

.height4 {
  height: 566px;
}

#gfx {
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 15px;
  background: white;
}

#patches {
  margin: 0px auto;
  border-collapse: collapse;
  font-size: 0.9em;
}

#patches input {
  appearance: radio;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -ms-appearance: radio;
  position: relative;
  left: 2px;
}

#patches tr:nth-child(2) {
  height: 195px;
}

#patches th {
  font-weight: normal;
  letter-spacing: 4px;
  max-width: 20px;
  border: 1px solid black;
  position: relative;
  vertical-align: top;
}

#patches td {
  background: black;
  border-color: black;
}

/*TODO: use something like this on all sides to make a slightly rounded patchboard
#patches tr:nth-child(2) td:nth-child(2) {
  border-top-left-radius: 10px;
}
*/

#patches td:nth-child(1) {
  max-width: 120px;
  border: 1px solid black;
  background: inherit;
}

#patches td:nth-child(2) {
  background: inherit;
  padding: 0;
}

#patches td:nth-child(2) .tri {
  height: 22px;
  width: 18px;
  font-size: 26px;
  position: relative;
  top: -3px;
  left: -2px;
}

#patches td:last-child {
  border-left: 2px solid black;
  padding-left: 5px;
  background: inherit;
}

#patches th .tri {
  display: block;
  font-size: 28px;
  position: absolute;
  left: -3px;
  bottom: 0px;
  height: 24px;
}

#patches th:nth-child(1), #patches th:nth-child(2) {
  border: 0;
}

#patches tr:last-child td {
  border-top: 2px solid black;
  background: inherit;
  text-align: center;
}

#patches tr:last-child td:first-child, #patches tr:last-child td:nth-child(2), #patches tr:last-child td:last-child {
  border: 0;
}

.dial {
  float: left;
  height: 125px;
  width: 115px;
  position: relative;
}

.width2 .dial {
  width: 118px;
}

.width3 .dial {
  width: 122px;
}

.width4 .dial {
  width: 124px;
}

.width6 .dial {
  width: 126px;
}

.knob-container {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.knob-label {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.freq {
  position: absolute;
  left: 48px;
  top: 72px;
  z-index: 999;
  width: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  pointer-events: none;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 5px solid black;
  width: 100%;
  padding-top: 8px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 8px;
}

#joystick {
  position: relative;
  top: 130px;
  left: 50px;
  width: 140px;
  height: 140px;
  background-color: #333;
  background-image: repeating-linear-gradient(0deg,transparent,transparent 34px,#CCC 34px,#CCC 35px),repeating-linear-gradient(-90deg,transparent,transparent 34px,#CCC 34px,#CCC 35px);
  background-size: 35px 35px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.trackpad-base {
  position: relative;
  background-color: #444;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #222;
  overflow: hidden;
}

.trackpad-marker {
  position: absolute;
  border-radius: 50%;
}

.trackpad-marker:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle closest-side at center,
    rgba(68, 68, 68, 0) 0,
    rgba(68, 68, 68, 0) 50%, 
    #333 100%
  );
}

#bankDisplayContainer {
  float: left;
  background-color: #333; 
  padding: 10px; 
  margin-top: 15px;
  border-radius: 10px;
}

#bankSelectButtons {
  margin-top: 13px;
}

#bankSelectButtons button {
  height: 42px;
  margin: 2px;
  margin-left: 5px;
  padding: 3px 4px;
  font-size: 1.2em;
  color: #e95d0f;
}

#bankSelectButtons button:first {
  margin-top: 0px;
}

#bankOperationButtons button {
  margin-top: 3px;
  margin-right: 2px;
}

#memoryDialog .panel {
  width: 400px;
  height: auto;
  position: relative;
  float: none;
  margin: 10% auto;
  border-width: 3px;
  border-color: #000;
  pointer-events: auto;
}

#memoryDialog textarea {
  margin-top: 15px;
  width: 100%;
  height: 180px;
  font-family: 'VT323';
}

#memoryDialog button {
  float: none;
  margin-top: 5px;
}

button#bankImportExport {
  color: yellow;
}

button#memoryDialogClose {
  background: red;
}

#inputSources {
  display: none;
  margin-top: 15px;
  font-size: 0.75em;
}

.inputSource {
  float: left;
  width: 110px;
  height: 108px;
  margin-right: 7px;
  border: 1px solid #333;
  border-radius: 10px;
}

.inputSource .inputSourceHeading {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 0;
}

.inputSource input {
  width: 65px;
}

.inputSource input.short {
  width: 45px;
}

#corsStatus {
  margin-top: 40px;
  font-size: 0.6em;
}

#corsStatus.disabled, #corsStatus.disabled a {
  color: red;
}

#corsStatus.disabled a:hover {
  color: white;
  background-color: red;
  text-decoration: none;
}

#envLight {
  position: absolute;
  left: 120px;
  top: 6px;
  width: 30px;
  background-color: #eee;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0 0 10px #222;
}

#envLight.on {
  background-color: rgba(255, 0, 0, 0.58);
  box-shadow: inset 0 0 10px #222, inset 0 0 5px #fff;
}

#helpButton {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9999;
  height: 55px;
  width: 55px;
  padding: 3px 4px;
  font-size: 2em;
}

#helpDialog .panel {
  width: 800px;
  height: 600px;
  position: relative;
  float: none;
  margin: 10% auto;
  border-width: 3px;
  border-color: #000;
  pointer-events: auto;
  padding: 0;
}

#helpDialog .panelName {
  margin-top: 10px;
}

#helpDialog button#helpDialogClose {
  position: absolute;
  top: 5px;
  right: 5px;
}

#helpDialog #helpArea {
  margin-top: 40px;
}

#helpDialog #sidebar {
  float: left;
  width: 250px;
  height: 560px;
  background: #666;
}

#helpDialog #sidebar ul {
  margin: 0;
  padding: 0;
}

#helpDialog #sidebar li {
  list-style: none;
  text-align: left;
  padding: 8px;
  padding-left: 1em;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
  color: #CCC;
}

#helpDialog #sidebar li.active {
  background: #30C7C7;
  color: #333;
}

#helpDialog #content {
  background: #EEE;
  text-align: left;
  float: left;
  width: 530px;
  height: 540px;
  padding: 10px;
  overflow-y: scroll;
}

#helpDialog #content .page {
  display: none;
}

#helpDialog #content p, #helpDialog #content h3 {
  margin: 0;
  margin-bottom: 1em;
}

#helpDialog #content img {
  max-width: 468px;
  margin: 5px auto 1em;
  display: block;
}

#helpDialog #content #usage img {
  max-width: 300px;
}

#helpDialog #content iframe {
  display: block;
  width: 100%;
  height: 100%;
}

#helpDialog #content li {
  margin-bottom: 0.5em;
}

#helpDialog #content .no-margin {
  margin: 0;
}

/* adapted from https://codepen.io/james2doyle/pen/AKblD */
button {
  cursor: pointer;
  float: left;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.7), 0 0 0 hsla(208.12, 44.44%, 85.88%, 0);
  color: #fff;
  font-weight: bold;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 6px 10px -1px rgba(0,0,0,0.6);

  background: -moz-linear-gradient(top, #37373d 0%, #222228 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37373d), color-stop(100%,#222228)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #37373d 0%,#222228 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #37373d 0%,#222228 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #37373d 0%,#222228 100%); /* IE10+ */
  background: linear-gradient(to bottom, #37373d 0%,#222228 100%); /* W3C */

  user-select: none;
  border-radius: 5px;
}
button:focus {
  outline: none;
}
button:hover {
  background: -moz-linear-gradient(top, #68686d 0%, #222228 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68686d), color-stop(100%,#222228)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #68686d 0%,#222228 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #68686d 0%,#222228 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #68686d 0%,#222228 100%); /* IE10+ */
  background: linear-gradient(to bottom, #68686d 0%,#222228 100%); /* W3C */
}

/* taken from http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/ */
.modalDialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
