@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Orbitron:900);

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.grid {
  width: 1300px;
  margin: 0 auto;
  visibility: hidden;
}

.panel {
  float: left;
  position: relative;
  width: 108px;
  height: 125px;
  min-height: 125px;
  padding: 10px;
  border: 1px solid #333;
  background-color: #f8f8f8;
  text-align: center;
}

.panelName {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}

.width2 {
  width: 238px;
}

.width3 {
  width: 368px;
}

.width4 {
  width: 498px;
}

.width6 {
  width: 758px;
}

.height2 {
  height: 272px;
}

.height4 {
  height: 566px;
}

#gfx {
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 15px;
  background: white;
}

#patchboard h1 {
  margin-top: 2em;
  text-align: center;
}

#patches {
  margin: 20px auto;
}

#patches th {
  font-weight: normal;
  letter-spacing: 3px;
  max-width: 20px;
  border: 1px solid black;
}

#patches td:nth-child(1) {
  max-width: 120px;
  border: 1px solid black;
}

#patches th:nth-child(1), #patches tr:last-child td {
  border: 0;
}

.dial {
  float: left;
  height: 125px;
  width: 115px;
  position: relative;
}

.knob-container {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.knob-label {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.freq {
  position: absolute;
  left: 43px;
  top: 72px;
  z-index: 999;
  width: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  pointer-events: none;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 5px solid black;
  width: 100%;
  padding-top: 8px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 8px;
}

#joystick {
  margin: 130px auto;
  width: 140px;
  height: 140px;
  background-color: #333;
}

.trackpad-base {
  position: relative;
  background-color: #444;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #222;
  overflow: hidden;
}

.trackpad-marker {
  position: absolute;
  border-radius: 50%;
}

.trackpad-marker:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle closest-side at center,
    rgba(68, 68, 68, 0) 0,
    rgba(68, 68, 68, 0) 50%, 
    #333 100%
  );
}
